
* {
    font-family: 'Noto Serif Lao';
}
#bg-1 {
    background-image: url(../images/bg3.jpg); 
    background-position: center center;
    /* определяет размер изображения на странице */
    background-size: cover;
    /* свойство устанавливает, будет ли повторяться изображение и каким образом */
    background-repeat: no-repeat;
    /* cвойство определяет, будет ли фоновое изображение прокручиваться 
    вместе с остальной частью страницы или будет фиксированным */
    /* background-attachment: fixed; */
}

#bg-2 {
    background-image: url(../images/bg6.jpg); 
    background-position: center center;
    /* определяет размер изображения на странице */
    background-size: cover;
    /* свойство устанавливает, будет ли повторяться изображение и каким образом */
    background-repeat: no-repeat;
    /* cвойство определяет, будет ли фоновое изображение прокручиваться 
    вместе с остальной частью страницы или будет фиксированным */
    /* background-attachment: fixed; */
}

.li-slider-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400;
    height: 600;
    filter: blur(5px);
}
